.container {
  width: 50em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px ridge;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

header {
  background-color: #9acd32;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

body
{
    background-color: #EAF2D3;
    color: #333;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

textarea
{
  height: 50px;
  width: 300px;
}

/* Navigation */

nav {
  float: right;
  font-weight: bold;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

table
{
  border-collapse:collapse;
  margin-left: 10%;

}

td, th, tr
{
  border-color: gray;
  padding: 5px;
  text-align:left;
}


/* Micropost Styling*/
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 30px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

